#homeSection {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100vw;
    min-height: calc(100vh - 4rem); /* 4rem because of navbar*/
    height: 100%;
}

.homeMainText {
    font-size: 3rem;
    padding: 4rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-weight: 800;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.myNameIs {
    padding: 1rem 0;
    font-size: 2.5rem;
}

.homeName {
    color: deepskyblue;
    font-weight: 700;
    white-space: nowrap;
    font-size: 3rem;
}

.doStuff {
    font-size: 2rem;
}

.homePortrait {
    position: absolute;
    top: 50%;
    right: 5%;
    max-height: 70vh;
    height: 70vh;
    transform: translate(-5%, -50%);
    z-index: -3;
    object-fit: cover;
    border-radius: 50%;
    border: solid deepskyblue 2px;
    
}

.linkedInBtn {
    padding: 1rem;
    margin: 2rem 2rem 2rem 0rem;
    max-width: 7rem;
    max-height: 7rem;
    border-radius: 2rem;
}

.linkedInBtn:hover {
    background-color: rgb(50, 50, 50);
    transition: background-color 200ms linear;
}

.linkedInHomeLogo {
    height: 5rem;
}

.sectionScrollTo {
    padding: 1rem;
    border-radius: 2rem;
    max-width: max-content;
    cursor: pointer;
    font-size: 2.5rem;
}

.sectionScrollTo:hover {
    background-color: rgb(50, 50, 50);
    transition: background-color 200ms linear;
}

#mainTextOnly {
    padding: 1rem;
}

/* for smaller width devices */
@media screen and (max-width:680px) {
    .homePortrait {
        height: 90vw;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    
    .hello {
        font-size: 2.25rem;
    }

    .myNameIs {
        font-size: 2rem;
    }

    .homeName {
        font-size: 2.25rem;
    }

    .doStuff {
        font-size: 1.5rem;
    }
    
    .homeMainText {
        padding: 0rem;
    }

    .linkedInBtn {
        padding: 1rem;
        margin: 1rem 1rem 1rem 0rem;
    }

    .sectionScrollTo {
        padding: 0.5rem;
        font-size: 2.25rem;
    }
}

/* for larger screens than full hd */
@media screen and (min-width:1921px) and (min-height:1081px){
    .hello {
        font-size: 5rem;
    }

    .myNameIs {
        font-size: 4rem;
    }

    .homeName {
        font-size: 5rem;
    }

    .doStuff {
        font-size: 3.5rem;
    }

    .sectionScrollTo {
        font-size: 4rem;
    }
}

/* missing css for vertical tablets/screens */