#navbar {
    position: sticky;
    top: 0;
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content: center; /* justify-content: space-between; if using more items in navbar (darkmode, logo, etc) */
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    background: rgb(28, 28, 28);
    z-index: 10;
    border-bottom: 1px solid rgb(80, 80, 80);
}

#navbarMenu {
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.navbarScrollToBtn {
    margin: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 2rem;
}

.navbarScrollToBtn:hover {
    background-color: rgb(50, 50, 50);
    transition: background-color 200ms linear;
}